@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after{
  display:block;
  content: "";
  clear: both;
}

.q7-float {
  width: 225px;
  float: left;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.q7-float:first-child{
  margin-left: 0;
}

.q7-table {
  display: table;
  
}

.q7-table-box {
  display: table-cell;
  vertical-align: middle;
  padding-left:50px ;
}
.q7-table-box:first-child{
  padding-left: 0;
}

.q7-table-right {
  width: 225px;
  /* margin-left: 50px; */
  box-sizing: border-box;
}

.inline-wrapper {
  font-size: 0;
}

.inline-box {
  display: inline-block;
  font-size: 16px;
  width: 225px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 50px;  
}

.inline-box:first-child {
  margin-left: 0;
}

.flex-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  
}

.flex-box {
  width: 225px;
  box-sizing: border-box;
  
}

.q7-wrapper {
  display: flex;
}
.box-left {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.box-right {
  display: inline-block;
  width: 100%;
  margin-left:-300px;
  padding-left: 350px;
  box-sizing: border-box;
}



/* 回答はここに書いてね */
