@charset "UTF-8";

/* 回答はここに書いてね */
.q3-content {
  margin: 0 auto; 
}

.parent {
  table-layout: fixed;
  width: 100%;
}
.parent tr,td,th {
  border: solid #dedede 1px;
  text-align: center;
  padding: 10px 0;
}

.parent tbody tr:last-child {
  border-top: dashed #000 2px;
}

.parent tr:nth-child(odd) {
  background-color: #ecf1f2;
}

.parent td {
  font-size: 16px;
  line-height: 22px;
}

.parent th {
  background-color:#2244aa ;
  color: white;
  font-size: 18px;
  line-height: 26px;
}
/* 回答はここに書いてね */
